<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home</title>
</head>
<body style="background-color: #454545;">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="nav_img" href="/"><img src="https://cdn.buttercms.com/2q5r816LTo2uE9j7Ntic" alt="img"></a>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color: rgb(244, 244, 66);">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="title">
        <h1>Express</h1><br>
        <p style="color: rgb(113, 113, 113); font-size: 30px;">Fast, unopinionated, minimalist web framework for</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png">
      </div>
      <div class="web" style="margin-top: 5rem;">
        <div class="web_content">
            <h1 style="color: white;font-size: 34px;margin-bottom: 1rem;">Web Applications</h1>
            <p style="color: #709cbc;font-size: 22px;padding-right: 30rem;">Express is a minimal and flexible Node.js web application framework that provides a robust set of 
                features for web and mobile applications.</p>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/128/977/977597.png" alt="img">
      </div>
      <div class="web">
        <img src="https://cdn-icons-png.flaticon.com/128/103/103093.png" alt="img">
        <div class="web_content">
            <h1 style="color: white;font-size: 34px;margin-bottom: 1rem;padding-left: 30rem;">APIs</h1>
            <p style="color: #709cbc;font-size: 22px;padding-left: 30rem;">With a myriad of HTTP utility methods and middleware at your disposal, creating a robust API is quick and easy.</p>
        </div>
      </div>
      <div class="web">
        <div class="web_content">
            <h1 style="color: white;font-size: 34px;margin-bottom: 1rem;">Performance</h1>
            <p style="color: #709cbc;font-size: 22px;padding-right: 30rem;">Express provides a thin layer of fundamental web application features, without obscuring Node.js features that you know and love.</p>
        </div>
        <img src="https://cdn-icons-png.flaticon.com/128/3094/3094933.png" alt="img">
      </div>
      <div class="web">
        <img src="https://cdn-icons-png.flaticon.com/128/4631/4631340.png" alt="img">
        <div class="web_content">
            <h1 style="color: white;font-size: 34px;margin-bottom: 1rem;padding-left: 30rem;">Frameworks</h1>
            <p style="color: #709cbc;font-size: 22px;padding-left: 30rem;">Many popular frameworks are based on Express.</p>
        </div>
      </div>
      <footer style="text-align: center; color: #8c8c8c;background-color: #262626;line-height: 30px;padding: 0.5rem 0rem;">
        Express is a project of the OpenJS Foundation <br>
        <span style="color: rgb(178, 180, 96);">Copyright © 2017 StrongLoop, IBM, and other expressjs.com contributors.</span>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>
